*.pdf

*.png

*.csv

*.pyc

sandbox.py

*.mp4

*.out

sandbox/*

bfs0/*

*.txt

*.xlsx

*.xls

graph_after/*

pruning/*

*.sh

*.zip

*.bib

datasets/*

*.jpg

*.jpeg

ant_repair_old.py

*.gz

*.bz2

*.tex

data.plist

draft_paper/*

*.pbs

out.subelj_euroroad_euroroad

parameter_estimation/*

subelj_euroroad/*

*.DS_Store

figs/*

FIGS2/*

*.graffle

add_year.py

remove_columns.py

.nfs*

ant_datasets/*
